.code-container {
    width: 100%;
    height: 100%;
    background-color: #fafafc;
    font-family: "Work Sans", sans-serif;
    // min-height: 980px;

    .code-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 120px 0;

        .left-part {
            width: 50%;
            text-align: right;
            display: flex;
            justify-content: center;

            img {
                width: 700px;
                // height: 368px;
                height: auto;
            }
        }

        .right-part {
            width: 570px;

            h2 {
                // color: #323f54;
                color: #233148;
                font-size: 35px;
                font-weight: 700;
                letter-spacing: 0.8px;
                margin-bottom: 45px;
            }

            .os-row {
                i {
                    color: #33d2fd;
                    font-size: 18px;
                }

                span {
                    // color: #323f54;
                    color: #233148;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-left: 10px;
                    font-size: 18px;
                }
            }
            .os-row:not(:last-child) {
                margin-bottom: 15px;
            }

            p {
                margin-top: 45px;
                color: #8e8e8e;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 32px;
            }
        }
    }
}
