.contact-container {
    width: 100%;
    height: 100%;
    font-family: "Work Sans", sans-serif;
    position: relative;
    padding: 130px 0;

    .contact-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .contact-btn {
            padding: 27px 105px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.8px;
            position: absolute;
            top: -40px;
            background: linear-gradient(to bottom, #ff7c6e, #f5317f);
            color: #fff;
            border: none;
            transition: 0.5s ease background;
            transition-property: background;
            cursor: pointer;
        }

        .contact-btn:hover {
            background: linear-gradient(
                to bottom,
                rgba(255, 124, 110, 0.9),
                rgba(245, 49, 127, 0.9)
            );
        }

        .contact-items-container {
            display: flex;
            flex-direction: row;
            margin-top: 80px;
            padding-bottom: 140px;

            .contact-item {
                h3 {
                    color: #233148;
                    font-size: 20px;
                    letter-spacing: 0.8px;
                    margin-bottom: 25px;
                }

                p {
                    // color: #233148;
                    color: #9294a8;
                    font-weight: 500;
                    letter-spacing: 0.7px;
                }

                p:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            .contact-item:not(:last-child) {
                margin-right: 150px;
            }
        }

        .subscribe-container {
            text-align: center;

            .subscribe-title {
                margin-bottom: 95px;

                h2 {
                    color: #233148;
                    font-size: 35px;
                    font-weight: 700;
                    letter-spacing: 0.8px;
                    margin-bottom: 45px;
                }

                p {
                    color: #9294a8;
                    font-weight: 500;
                    letter-spacing: 0.7px;
                }
            }

            .subscribe-input {
                margin-bottom: 35px;

                input {
                    width: 670px;
                    height: 55px;
                    border: none;
                    background-color: #f6f7fb;
                    font-size: 22px;
                    padding: 4px 18px;
                    color: #233148;
                }

                input:focus{
                    outline: none;
                }

                .subscribe-btn {
                    border: none;
                    padding: 17px 50px;
                    letter-spacing: 0.8px;
                    font-size: 16px;
                    font-weight: 700;
                    background-color: #33d2fd;
                    color: #233148;
                    margin-left: 55px;
                    cursor: pointer;
                }
            }
        }
    }
}
