.navbar-container {
    font-family: "Work Sans", sans-serif;
    padding-top: 30px;

    .navbar-items {
        width: 80%;
        min-height: 100px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        .logo {
            img {
                width: 115px;
                height: auto;
            }
        }

        .menu-icon {
            display: none;
        }

        .nav-items-container {
            text-decoration: none;
            margin-left: auto;
            ul {
                display: flex;
                flex-direction: row;

                li {
                    list-style: none;
                }

                li:not(:last-child) {
                    margin-right: 35px;
                }
            }
        }
    }
}

.nav-item {
    text-decoration: none;
    // color: #2a4456;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    transition: opacity 0.5s ease-in;
}

.nav-item:hover {
    opacity: 0.8;
}
// Media Quesries
@media screen and (min-width: 1921px) {
    .navbar-container {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-container {
        height: auto;

        .navbar-items {
            height: auto;
            position: relative;
            display: block;
            width: 100%;

            .logo {
                width: 90%;
                margin: auto;
            }

            .menu-icon {
                display: inline-block;
                margin-left: auto;
                position: absolute;
                right: 0;
                top: 35px;
                cursor: pointer;
                margin-right: 5%;

                i {
                    font-size: 30px;
                    color: #fff;
                    transition: opacity 0.5s ease-in;
                }

                i:hover {
                    opacity: 0.8;
                }
            }
        }
        .nav-items-container {
            display: none;
        }

        .nav-items-container-mobile {
            display: block;
            position: absolute;
            background-color: #fff;
            width: 100%;
            margin-top: 25px;
            // transform: translateX(-16px);
            // position: fixed;
            // top: 0;
            height: auto;
            padding-bottom: 35px;

            ul {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;

                li {
                    list-style: none;
                }

                li:first-child {
                    margin-top: 40px;
                }

                li:not(:last-child) {
                    margin-bottom: 35px;
                }
            }
        }
    }

    .nav-item{
        color: #9294a8;
        transition: 0.3s ease-in opacity;
    }

    .nav-item:hover{
        opacity: 0.7;
    }
}
